*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body */
/* modals */
/***********************************
 *           MAIN STUFF            *
 ***********************************/
body {
  background-color: #373633;
  font-family: "Lato", Calibri, Arial, sans-serif;
  color: #ffffff;
}

header {
  font-size: 2.0em;
}

.page {
  width: 75%;/*
  min-width: 1000px;
  min-height: 600px;*/
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: auto;
  /* padding:100px 5px; */
  position: relative;
}

/***********************************
 *          BUTTON STUFF           *
 ***********************************/
button.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  width: auto;
  padding: 10px 10px;
  text-align: center;
  /* style */
  color: #fff;
  border-radius: 20px;
  background-color: #17aa56;
  box-shadow: 0 6px #119e4d;
}

button.btn:hover {
  top: 2px;
  box-shadow: 0 4px #119e4d;
}

button.btn:active {
  top: 6px;
  box-shadow: 0 0 #119e4d;
}

/***********************************
 *           MODAL STUFF           *
 ***********************************/
.md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.md-content {
  position: relative;
  margin: 100px auto;
  padding: 20px;
  width: 500px;
  height: auto;
  background-color: #40805C;
  color: #ffffff;
}

.md-hd {
  margin-bottom: 10px;
  padding: 0.4em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #40805C;
  color: #ffffff;
}

.md-ft {
  /* TODO */
}

/***********************************
 *           LIST STUFF            *
 ***********************************/
ul[class*='col-']:after {
  content: "";
  display: table;
  clear: both;
}

ul[class*='col-'] li {
  float: left;
}

ul.col-1 li {
  width: 100.0%;
}

ul.col-2 li {
  width: 50.0%;
}

ul.col-3 li {
  width: 33.3%;
}

ul.col-4 li {
  width: 25.0%;
}

ul.col-5 li {
  width: 20.3%;
}

ul {
  list-style: none;
}

ul.interactive li {
  cursor: pointer;
}

/*------------
   User Lists  
  ------------*/
.list-users .user .check {
  margin-right: 5px;
}

.list-users {
  width: 100%;
  text-align: left;
}

.list-users .user {
  padding: 5px;
}

/*------------
 Chatlog Lists  
  ------------*/
.chatlog {
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 250px;
  width: 25%;
  height: 80%;
  text-align: left;
  padding: 5px;
  float: left;
  position: absolute;
  top: 0;
  /* margin: 2.5% 0; */
  overflow-y: scroll;
}

.chat-input-container {
  float: left;
  position: absolute;
  bottom: 0;
  display: table;
}

.chat-input-container input {
  margin: 0em;
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125em;
  display: table-cell;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  float: left;
  height: 40px;
}

.chat-input-container button {
  border-radius: 0.3125em;
  display: table-cell;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  white-space: nowrap;
  box-shadow: none;
  height: 40px;
  float: left;
  margin: 0em;
}

.chat-input-container button:hover {
  top: 0px;
  opacity: 0.8;
  box-shadow: none;
}

.chat-input-container button:active {
  top: 0px;
  box-shadow: none;
}

.chatlog .msg {
  margin: 0.5em 0.2em;
}

#game_user_list {
  display: none;
}

.msg .msg-text {
  margin: 0.2em 0.4em;
}

.msg .timestamp {
  float: right;
}

/***********************************
 *           MISC. STUFF           *
 ***********************************/
.hidden {
  display: none;
}

.container input {
  border-radius: 3px;
  padding: 0px 10px;
  height: 30px;
  font-size: 18px;
  font-weight: normal;
  outline: none;
  border: 1px solid #CCC;
}

canvas {
  height: 250px;
  width: 250px;
  background-color: violet;
}
.message {
  background-color: #d2d5da;
  border: 1px solid #bcc0c7;
  border-radius: 5px;
  height: 4em;
}

.message.warning {
  background-color: #d2d5da;
  border: 1px solid #bcc0c7;
}

.btn {
  cursor: pointer;
}

.message .sym {
  font-size: 3em;
  float: left;
  padding: 0.16em;
}

.message .content {
  float: left;
}

.message .heading {
  margin: 0.5em 0px 0px 0.5em;
}

.message .text {
  margin: 0px 0px 0px 0.5em;
}

.message .close {
  float: right;
  margin: 0.5em;
}

#page-signin {
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  position: relative;
  text-align: center;
}
#page-signin .background-img {
  background-image: url('http://media.nara.gov/stillpix/330-cfd/1987/DN-SC-87-02921.jpeg');
  background-size: cover;
  display: block;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
  height:100%;
  width:100%;
  z-index: 1;
}

#page-signin .page-content {
  width: 55%;
  height: 70%;
  background: rgba(255, 255, 255, 0.35);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  margin: 15% auto;
  z-index: 2;
}

#page-signin2 {
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  position: relative;
  text-align: center;
}
#page-signin2 .background-img {
  background-image: url('http://media.nara.gov/stillpix/330-cfd/1987/DN-SC-87-02921.jpeg');
  background-size: cover;
  display: block;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
  height:100%;
  width:100%;
  z-index: 1;
}

#page-signin2 .page-content {
  width: 55%;
  height: 70%;
  background: rgba(255, 255, 255, 0.35);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  margin: 15% auto;
  z-index: 2;
}

/* ===============================================
                    TOGGLE-BUTTON
   =============================================== */
.tgl-btn {
  width: 32px;
  border-radius: 4px;
  height: 10px;
  background-color: #FFA39F;
  position: relative;
  margin: 20px 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tgl-btn:after {
  border-radius: 100%;
  background-color: #fc5652;
  position: absolute;
  left: 0;
  top: -2.5px;
  width: 15px;
  height: 15px;
  content: '';
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translateX(0);
  transition: all 0.5s ease, background-color 0.5s linear;
  -webkit-transition: all 0.5s ease, background-color 0.5s linear;
  -moz-transition: all 0.5s ease, background-color 0.5s linear;
}

.tgl-btn > span {
  margin-left: 47px;
  position: relative;
  top: -4.5px;
  color: #fc5652;
  white-space: nowrap;
  display: block;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.tgl-btn:hover {
  cursor: pointer;
}

.tgl-btn:hover span {
  color: #FFA39F;
}

.tgl-btn.on {
  background-color: #33E6AA;
  transform: translate3d(0, 0, 0);
}

.tgl-btn.on:hover span {
  color: #33E6AA;
}

.tgl-btn.on:after {
  background-color: #00b377;
  -webkit-transform: translate(17px);
  -ms-transform: translate(17px);
  transform: translateX(17px);
}

.tgl-btn.on > span {
  color: #00b377;
}

/* ===============================================
                TOGGLE-BUTTON-GROUPS
   =============================================== */
.tgl-btns {  
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-family: Calibri, Arial, sans-serif;
  background-color: coral;
  border-radius: 0.25em;
  line-height: 1;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}
.tgl-btns:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.tgl-btns .btn {
  float:left;
  border-radius: 0em;
  padding: 5px 10px;
  transition:all 0.3s ease-out;
}
.tgl-btns .btn.active {
  background-color:green;
}
.tgl-btns .btn:hover {
  background-color: rgba(255,255,255,0.3);
}
.tgl-btns.one .btn,.tgl-btns.none .btn {
  width:100%;
}
.tgl-btns.two .btn {
  width:50%;
}
.tgl-btns.three .btn {
  width:33.33%;
}
.tgl-btns.four .btn {
  width:25%;
}

canvas.my_board {
  border: 2px solid yellow;
}

/* ===============================================
                      TOOLTIPS
   =============================================== */
.tooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Trigger text */

.tooltip-item {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 5px;
}

/* Gap filler */
.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: justify;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
/* EFFECTS */
.tooltip .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7,0.3,1);
  transform: scale3d(0.7,0.3,1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}


/* Arrow */
.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/
.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em;
}

.tooltip-text {
  font-size: 1.0em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 1.21em;
  color: #fff;
}

.tooltip-text a {
  font-weight: bold;
}