*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body */
/* modals */
/***********************************
 *           MAIN STUFF            *
 ***********************************/
body {
  background-color: #373633;
  font-family: "Lato", Calibri, Arial, sans-serif;
  color: #ffffff;
}

header {
  font-size: 2.0em;
}

.page {
  width: 75%;
  min-width: 1000px;
  min-height: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: auto;
  /* padding:100px 5px; */
  position: relative;
}

/***********************************
 *          BUTTON STUFF           *
 ***********************************/
button.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  width: auto;
  padding: 10px 10px;
  text-align: center;
  /* style */
  color: #fff;
  border-radius: 20px;
  background-color: #17aa56;
  box-shadow: 0 6px #119e4d;
}

button.btn:hover {
  top: 2px;
  box-shadow: 0 4px #119e4d;
}

button.btn:active {
  top: 6px;
  box-shadow: 0 0 #119e4d;
}

/***********************************
 *           MODAL STUFF           *
 ***********************************/
.md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.md-content {
  position: relative;
  margin: 100px auto;
  padding: 20px;
  width: 500px;
  height: auto;
  background-color: #40805C;
  color: #ffffff;
}

.md-hd {
  margin-bottom: 10px;
  padding: 0.4em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #40805C;
  color: #ffffff;
}

.md-ft {
  /* TODO */
}

/***********************************
 *           LIST STUFF            *
 ***********************************/
ul[class*='col-']:after {
  content: "";
  display: table;
  clear: both;
}

ul[class*='col-'] li {
  float: left;
}

ul.col-1 li {
  width: 100.0%;
}

ul.col-2 li {
  width: 50.0%;
}

ul.col-3 li {
  width: 33.3%;
}

ul.col-4 li {
  width: 25.0%;
}

ul.col-5 li {
  width: 20.3%;
}

ul {
  list-style: none;
}

ul.interactive li {
  cursor: pointer;
}

/*------------
   User Lists  
  ------------*/
.list-users .user .check {
  margin-right: 5px;
}

.list-users {
  width: 100%;
  text-align: left;
}

.list-users .user {
  padding: 5px;
}

/*------------
 Chatlog Lists  
  ------------*/
.chatlog {
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 250px;
  width: 25%;
  height: 80%;
  text-align: left;
  padding: 5px;
  float: left;
  position: absolute;
  top: 0;
  /* margin: 2.5% 0; */
  overflow-y: scroll;
}

.chat-input-container {
  float: left;
  position: absolute;
  bottom: 0;
  display: table;
}

.chat-input-container input {
  margin: 0em;
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3125em;
  display: table-cell;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  float: left;
  height: 40px;
}

.chat-input-container button {
  border-radius: 0.3125em;
  display: table-cell;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  white-space: nowrap;
  box-shadow: none;
  height: 40px;
  float: left;
  margin: 0em;
}

.chat-input-container button:hover {
  top: 0px;
  opacity: 0.8;
  box-shadow: none;
}

.chat-input-container button:active {
  top: 0px;
  box-shadow: none;
}

.chatlog .msg {
  margin: 0.5em 0.2em;
}

#game_user_list {
  display: none;
}

.msg .msg-text {
  margin: 0.2em 0.4em;
}

.msg .timestamp {
  float: right;
}

/***********************************
 *           MISC. STUFF           *
 ***********************************/
.hidden {
  display: none;
}

.container input {
  border-radius: 3px;
  padding: 0px 10px;
  height: 30px;
  font-size: 18px;
  font-weight: normal;
  outline: none;
  border: 1px solid #CCC;
}

canvas {
  height: 250px;
  width: 250px;
  background-color: violet;
}
.message {
  background-color: #d2d5da;
  border: 1px solid #bcc0c7;
  border-radius: 5px;
  height: 4em;
}

.message.warning {
  background-color: #d2d5da;
  border: 1px solid #bcc0c7;
}

.btn {
  cursor: pointer;
}

.message .sym {
  font-size: 3em;
  float: left;
  padding: 0.16em;
}

.message .content {
  float: left;
}

.message .heading {
  margin: 0.5em 0px 0px 0.5em;
}

.message .text {
  margin: 0px 0px 0px 0.5em;
}

.message .close {
  float: right;
  margin: 0.5em;
}
